__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.venv/
private/
runs/
logs/
*.gds
*.[Rr][Dd][Aa][Tt][Aa]
*.[Rr][Dd][Aa]
*.[Rr][Dd][Ss]
*.npz
*.npy
*.pyc
build/
dist/
*.bed
*.bim
*.fam
*.loco
*.loco.gz
*.regenie
*.regenie.gz
*.regenie.ids
*.pred.list
*.pt
*.mmap
*.log
